<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <title>My Awesome Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="Bootstraplog3.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
</head>

<!--Coded with love by Mutiullah Samim-->
<html>
<head>

    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfonts-->
    <link href="StyleSheet3.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text.css' />
    <!--//webfonts-->

</head>
<body>

    <!--start-login-form-->
    <div class="login-form">
        <h1>Facebook</h1>
        <form>
            <input type="text" placeholder="Email Address" required />
            <input type="Password" placeholder="Password" required />
            <div class="submit">
                <input type="submit" value="Login">
            </div>
            <span class="forget-pass">
                <a href="#">Forgot Password?</a>
            </span>
        </form>
    </div>
    <!--//End-login-form-->
    <!-----start-copyright---->
    <div class="copy-right">
        <p> Template by <a href="http://w3layouts.com" target="_blank">w3layouts</a> </p>
    </div>
    <!-----//end-copyright---->
</body>
</html>


